@model EmployeeCapibilityDemonstration.ViewModels.Employee.EmployeeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Employee: @Model.firstName @Model.lastName</h4>
    <h6>Employee ID: @Model.EmployeeId</h6>
    <h6>Hired Date: @Model.dateHired</h6>
    <h6>Email: @Model.Email</h6>
    <hr />
    
</div>

<div>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeHasMethods[0].Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmployeeHasMethods) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
               <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
               

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
