@model EmployeeCapibilityDemonstration.ViewModels.Employee.EmployeeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateHired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateHired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <hr />
    <p>
        <a class="btn btn-outline-success" asp-action="AddMethod"><i class="fas fa-plus"></i>Add New Method</a>

    </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Methods[0].Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Methods[0].DateTaken)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Methods[0].DateExpired)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Methods) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTaken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateExpired)
                        </td>
            
                        <td>
                            <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.MethodId"> <i title="Edit" class="fas fa-edit" ></i> </a> 
                            
                           
                            <button data-id="@item.MethodId" class="btn btn-outline-danger deleteBtn" type="button"> <i title="Delete" class="fas fa-trash-alt" ></i> </button>
                        </td>
                    </tr>
                }
            </tbody>


         </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
