@using EmployeeCapibilityDemonstration.ViewModels.Method
@model IEnumerable<MethodViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Methods</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create"> <i class="fas fa-plus"></i> Create New Method</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.MethodId"> <i title="Edit" class="fas fa-edit" ></i> </a> 
                <!-- < a asp-action="Details" asp-route-id="@item.MethodId">Details</a>  |  -->
                <!-- <a asp-action="Delete" class="btn btn-outline-danger deleteBtn"asp-route-id="@item.MethodId">Delete</a>  -->
                <button data-id="@item.MethodId" class="btn btn-outline-danger deleteBtn" type="button"> <i title="Delete" class="fas fa-trash-alt" ></i> </button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="methodId" name="Id" />
</form>


@section Scripts {
    <script>
        $(function(){
            $('.table').DataTable();

            $('.deleteBtn').click(function(event){
                swal({
                    title: "Are you sure?",
                    text: "Are you sure to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true

                }).then((confirm) => {
                    if(confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#methodId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
    </script>
}
